<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <h1><%= header1 %></h1>
      <form action="<%= action %>" method="POST">
        <p>
          <label for="id">Flower Id:</label>
          <input type="text" id="id" name="id" size="5" />
        </p>
        <button type="submit">submit</button>
      </form>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
